USE [master]
GO
/****** Object:  Database [ProjectPRJ]    Script Date: 4/16/2022 3:42:11 PM ******/
CREATE DATABASE [ProjectPRJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectPRJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUNGLE\MSSQL\DATA\ProjectPRJ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectPRJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUNGLE\MSSQL\DATA\ProjectPRJ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectPRJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectPRJ]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/16/2022 3:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[PostalCode] [float] NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[createdby] [varchar](150) NULL,
 CONSTRAINT [PK__Customer__3214EC27FC951A15] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fid] [int] NOT NULL,
	[url] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[gid] [int] NOT NULL,
	[gname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupAccount]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupAccount](
	[gid] [int] NOT NULL,
	[username] [varchar](150) NOT NULL,
 CONSTRAINT [PK_GroupAccount] PRIMARY KEY CLUSTERED 
(
	[gid] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupFeature]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupFeature](
	[gid] [int] NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_GroupFeature] PRIMARY KEY CLUSTERED 
(
	[gid] ASC,
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [nvarchar](255) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SalePrice] [float] NULL,
	[Quantity] [int] NULL,
	[Discount] [float] NULL,
	[Profit] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [nvarchar](255) NOT NULL,
	[OrderDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[ShipMode] [nvarchar](255) NULL,
	[CustomerID] [int] NULL,
	[OrderNote] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[UnitPrice] [int] NULL,
	[SubCategoryID] [int] NULL,
	[img] [nvarchar](255) NULL,
 CONSTRAINT [PK__Product__3214EC273F53592E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRegion]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRegion](
	[pid] [int] NOT NULL,
	[rid] [int] NOT NULL,
 CONSTRAINT [PK_ProductRegion] PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 4/16/2022 3:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [nvarchar](255) NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password]) VALUES (N'admin1', N'789')
INSERT [dbo].[Account] ([username], [password]) VALUES (N'user1', N'123')
INSERT [dbo].[Account] ([username], [password]) VALUES (N'user2', N'456')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (1, N'Imported Meat')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (2, N'Seafood')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (3, N'Convenient Set Box')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [CustomerName], [Address], [Country], [City], [State], [PostalCode], [PhoneNumber], [createdby]) VALUES (1, N'Le Van A1', N'Hai Ba Trung Ha Noi', N'VietNam', N'Ha Noi', NULL, NULL, N'0923456789', N'user1')
INSERT [dbo].[Customer] ([ID], [CustomerName], [Address], [Country], [City], [State], [PostalCode], [PhoneNumber], [createdby]) VALUES (2, N'Nguyen Van B1', N'So nha 20, Thu duc', N'VietNam', N'Ho Chi Minh', NULL, NULL, N'0981231234', N'user1')
INSERT [dbo].[Customer] ([ID], [CustomerName], [Address], [Country], [City], [State], [PostalCode], [PhoneNumber], [createdby]) VALUES (3, N'le Van B1', N'Hai Ba Trieu', NULL, N'Ha Noi', NULL, NULL, N'0912345678', N'user1')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[Feature] ([fid], [url]) VALUES (1, N'/delete')
INSERT [dbo].[Feature] ([fid], [url]) VALUES (2, N'/insert')
INSERT [dbo].[Feature] ([fid], [url]) VALUES (3, N'/update')
GO
INSERT [dbo].[Group] ([gid], [gname]) VALUES (1, N'admin')
INSERT [dbo].[Group] ([gid], [gname]) VALUES (2, N'normal')
GO
INSERT [dbo].[GroupAccount] ([gid], [username]) VALUES (1, N'admin1')
INSERT [dbo].[GroupAccount] ([gid], [username]) VALUES (2, N'admin1')
INSERT [dbo].[GroupAccount] ([gid], [username]) VALUES (2, N'user1')
GO
INSERT [dbo].[GroupFeature] ([gid], [fid]) VALUES (1, 1)
INSERT [dbo].[GroupFeature] ([gid], [fid]) VALUES (1, 2)
INSERT [dbo].[GroupFeature] ([gid], [fid]) VALUES (1, 3)
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [SalePrice], [Quantity], [Discount], [Profit]) VALUES (N'1', 1, NULL, 2, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [SalePrice], [Quantity], [Discount], [Profit]) VALUES (N'1', 2, NULL, 3, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [SalePrice], [Quantity], [Discount], [Profit]) VALUES (N'2', 1, NULL, 3, NULL, NULL)
GO
INSERT [dbo].[Orders] ([ID], [OrderDate], [ShipDate], [ShipMode], [CustomerID], [OrderNote]) VALUES (N'1', NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Orders] ([ID], [OrderDate], [ShipDate], [ShipMode], [CustomerID], [OrderNote]) VALUES (N'1a', NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[Orders] ([ID], [OrderDate], [ShipDate], [ShipMode], [CustomerID], [OrderNote]) VALUES (N'2', NULL, NULL, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductName], [UnitPrice], [SubCategoryID], [img]) VALUES (1, N'Thit ba chi bo loai cao cap', 279000, 1, N'https://gofood.vn/upload/r/san-pham/bo-u-kho/striploin-butter/than-ngoai-u-bo-6.jpg')
INSERT [dbo].[Product] ([ID], [ProductName], [UnitPrice], [SubCategoryID], [img]) VALUES (2, N'Thit Bap Hoa Bo My(loai cao cap)', 385000, 1, N'https://gofood.vn/upload/r/san-pham/Thit-bo-My/thit-bo-my-moi/bap-bo-1.jpg')
INSERT [dbo].[Product] ([ID], [ProductName], [UnitPrice], [SubCategoryID], [img]) VALUES (3, N'Thit Gau Bo My', 399000, 1, N'https://gofood.vn/upload/r/san-pham/Thit-bo-My/thit-bo-my-moi/gau-bo-4.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProductRegion] ([pid], [rid]) VALUES (1, 1)
INSERT [dbo].[ProductRegion] ([pid], [rid]) VALUES (1, 2)
INSERT [dbo].[ProductRegion] ([pid], [rid]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([rid], [name]) VALUES (1, N'Ha Noi')
INSERT [dbo].[Region] ([rid], [name]) VALUES (2, N'Ho Chi Minh')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (1, N'Thit Bo My', 1)
INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (2, N'Thit Bo Uc', 1)
INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (3, N'Thit Bo Nhat Ban', 1)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([createdby])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[GroupAccount]  WITH CHECK ADD  CONSTRAINT [FK_GroupAccount_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[GroupAccount] CHECK CONSTRAINT [FK_GroupAccount_Account]
GO
ALTER TABLE [dbo].[GroupAccount]  WITH CHECK ADD  CONSTRAINT [FK_GroupAccount_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[GroupAccount] CHECK CONSTRAINT [FK_GroupAccount_Group]
GO
ALTER TABLE [dbo].[GroupFeature]  WITH CHECK ADD  CONSTRAINT [FK_GroupFeature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([fid])
GO
ALTER TABLE [dbo].[GroupFeature] CHECK CONSTRAINT [FK_GroupFeature_Feature]
GO
ALTER TABLE [dbo].[GroupFeature]  WITH CHECK ADD  CONSTRAINT [FK_GroupFeature_Group1] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[GroupFeature] CHECK CONSTRAINT [FK_GroupFeature_Group1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__2F10007B] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__2F10007B]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__300424B4] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__300424B4]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__SubCate__30F848ED] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategory] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__SubCate__30F848ED]
GO
ALTER TABLE [dbo].[ProductRegion]  WITH CHECK ADD  CONSTRAINT [FK_ProductRegion_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductRegion] CHECK CONSTRAINT [FK_ProductRegion_Product]
GO
ALTER TABLE [dbo].[ProductRegion]  WITH CHECK ADD  CONSTRAINT [FK_ProductRegion_Region] FOREIGN KEY([rid])
REFERENCES [dbo].[Region] ([rid])
GO
ALTER TABLE [dbo].[ProductRegion] CHECK CONSTRAINT [FK_ProductRegion_Region]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
USE [master]
GO
